@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	overflow-wrap: anywhere;
}

.dark {
	color-scheme: dark;
	background-color: #101010;
	scrollbar-color: #ffffff50 transparent;
	color: #e4e3df;
	fill: #e4e3df;
}
